* {
  text-align: center;
  font-size: large;
}
.BigDiv {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1500px;
}
.navbar {
  max-width: fit-content;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  border-radius: 55px;
  background-color: grey;
}
.accordion {
  width: 85%;
  margin: auto;
  padding: 10px;
}